root {
    width: 480px;
}

.panel {
    width: 480px;
    background-color: #0d1524ff;
    border-radius: 10px;
}

.panel-header {
    width: 480px;
    padding: 10px 12px;
    background-color: #1b2942ff;
}

.panel-body {
    width: 480px;
    padding: 12px;
}

.panel-footer {
    width: 480px;
    padding: 10px 12px;
    background-color: #1b2942ff;
}
